extends template-pug/layout
//- не забыть про отступ
block head
  - var pageTitle = 'Добавление задачи';
  - var classbg = 'bg'; // класс для фона в body
block content
  .container
    include ./components/add-task
