extends template-pug/layout
//- не забыть про отступ
block head
  - var pageTitle = 'Webpack 4, js, slick';
block content
  .container
    p it's works!
    h1

    +b.slick-s
      +e.item
        <img src="https://via.placeholder.com/150">
      +e.item
        <img src="https://via.placeholder.com/150">
      +e.item
        <img src="https://via.placeholder.com/150">
