extends template-pug/layout
//- не забыть про отступ
block head
  - var pageTitle = 'All pages';
block header
block content
  .container
    ul
      each item in [{href: 'signin', title: 'Авторизация'}, {href: 'signup', title: 'Регистрация'}, {href: 'tasks', title: 'Задачи'}]
        li
          a(href=item.href + '.html', target="_blank") #{item.title}

//- block footer
