extends template-pug/layout
//- не забыть про отступ
block head
  - var pageTitle = 'Задачи';
  - var classbg = 'bg'; // класс для фона в body
block content
  .container
    include ./components/user-menu
    include ./components/task
