include ../../../node_modules/bemto.pug/bemto
include ../components/mixins/mixins.pug

<!DOCTYPE html>
html(lang="ru")
  include head

  block body
    body(class=classbg || '')
      block header
        include header
      main(class='main')
        block content
      block footer
        include footer

      script(src='js/vendor.bundle.js' async)
      script(src='js/script.js' defer)
