@import "./Vars";
@import "./node_modules/toastr/toastr";
@import "./node_modules/flatpickr/dist/flatpickr";

html,
.root {
  min-height: 100%;
}

html,
body,
.root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  overflow-x: hidden;
  position: relative;
}

body,
.root {
  flex-grow: 1;
}

.main {
  padding-top: $baseValue * 2;
  padding-bottom: $baseValue * 2;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $baseValue * 2; //16
  padding-right: $baseValue * 2;
  width: 100%;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.bg {
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, white, white 27%, #47b784);
    z-index: -1;
  }
}

.media {
  margin: 0;
  margin-bottom: $baseValue;
}

.textarea {
  border: $baseValue / 8 solid $borderColor;
  border-radius: $baseValue / 4;

  resize: none;
  padding: $baseValue;
  line-height: $baseLineHeight;
  min-height: $baseLineHeight * $baseFontSize * 3;

  &:focus {
    border-color: #47a4f5
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.input {
  border: $baseValue / 8 solid $borderColor;
  border-radius: $baseValue / 4;
  &:focus {
    outline: 2px solid #47a4f5
  }

  &:valid {
    border-bottom: 2px solid green;
  }
  &:invalid {
    border-bottom: 2px solid red;
  }
}

.ck-editor__editable_inline {
  min-height: $baseLineHeight * $baseFontSize * 3;
  padding: $baseValue !important;
}
