+b.FORM.form._search(action="/search.php", method="get")
  +e.H3.title.visually-hidden Поиск по задачам.
  +e.row._search
    +e.INPUT.input._search(type="search", name="search-field" placeholder="Поиск по задачам")
    +e.BUTTON.button.submit(type="submit") Найти
