+b.FORM.form._auth(action="", method="post")
  +e.H3.title Авторизация
  +e.row._content-column
    label(for="login") Ваш логин:
    +e.INPUT.input#login(type="text", name="Login" required)
  +e.row._content-column
    label(for="password") Пароль:
    +e.INPUT.input#password(type="password", name="password" required)
  +e.row._content-column
    +e.BUTTON.button(type="submit") Войти
  +e.row
    +e.A.link-signup(href="") зарегистрироваться
    