+b.FORM.form._auth(action="", method="post")
  +e.H3.title Авторизация
  +e.row._conten-column
    label(for="login") Ваш логин:
    +e.INPUT.input#login(type="text", name="Login")
  +e.row._conten-column
    label(for="password") Пароль:
    +e.INPUT.input#password(type="password", name="password")
  +e.row._conten-column
    +e.BUTTON.button(type="submit") Войти
    