+b.FORM.form._reg(action="", method="post")
  +e.H3.title Регистрация нового пользователя
  +e.row._content-column
    label(for="login") Ваш логин:
    +e.INPUT.input#login(type="text", name="Login")
  +e.row._content-column
    label(for="password") Пароль:
    +e.INPUT.input#password(type="password", name="password")
  +e.row._content-column
    label(for="password2") Повторите пароль:
    +e.INPUT.input#password2(type="password", name="password2")
  +e.row._content-column
    label(for="name") Имя:
    +e.INPUT.input#name(type="text", name="name")
  +e.row._content-column
    label(for="surname") Фамилия:
    +e.INPUT.input#surname(type="text", name="surname")
  +e.row._content-column
    label(for="patronymic") Отчество:
    +e.INPUT.input#patronymic(type="text", name="patronymic")
  +e.row._content-column
    +e.BUTTON.button(type="submit") Зарегистрироваться
    