+b.tasks
  +e.INPUT.input#my-tasks(type="radio", name="tasks-tab" checked)
  +e.LABEL.tab(for="my-tasks")
    +e.H2.title Мои задачи.
  +e.hidden-divider
  +e.INPUT.input#set-tasks(type="radio", name="tasks-tab")
  +e.LABEL.tab(for="set-tasks")
    +e.H2.title Задачи поставленные мною.
  +e.hidden-divider
  +e.INPUT.input#add-task(type="radio", name="tasks-tab")
  +e.LABEL.tab(for="add-task")
    +e.H2.title Поставить задачу.

  +e.my-tasks
    - var i = 1
    while i <= 1
      +b.task
        +e.date-start Начало задачи: 11.06.2019
        +e.status в работе.
        +e.H3.title Загаловок задачи #{i}
        +e.desc
          p Описание задачи #{i++}: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem alias quidem officia quisquam optio, nam itaque, id neque fugit et tempora saepe, consequatur voluptatem maiores? Corrupti maiores provident blanditiis voluptas.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatem deserunt enim quibusdam itaque debitis quam cupiditate? Dolorum eius soluta cumque reprehenderit eum amet illum accusamus possimus in! Dignissimos, rerum!
        +e.date-end Закончить задачу до: 15.06.2019 
          a(href="") выполнить
        +e.author Назначил: Попов
      
  +e.set-tasks
    - var i = 1
    while i <= 1
      +b.task
        +e.date-start Начало задачи: 10.06.2019
        +e.status выполнено.
        +e.H3.title Загаловок задачи #{i}
        +e.desc
          p Описание задачи #{i++}: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem alias quidem officia quisquam optio, nam itaque, id neque fugit et tempora saepe, consequatur voluptatem maiores? Corrupti maiores provident blanditiis voluptas.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatem deserunt enim quibusdam itaque debitis quam cupiditate? Dolorum eius soluta cumque reprehenderit eum amet illum accusamus possimus in! Dignissimos, rerum!
        +e.date-end Закончить задачу до: 15.06.2019
        +e.executor Исполнитель: Попов

  +e.add-task
    +b.FORM.form._task-add(action="", method="post")
      +e.row._label-group-two
        +e.LABEL Дата начала и окончания задачи 
          .flatpickr
            input.form__date(type="hidden" name="author" value="")
            +e.INPUT.date(type="text", name="text", placeholder="выберите дату или даты", data-input required)
            button(type="button" title="toggle" data-toggle="") календарь
            button(type="button" title="toggle" data-clear="") очистить

      +e.row._content-column
        +e.SPAN Выберите исполнителя
        +e.SELECT.list-users(name="executor" required)
          option(value="" selected disabled) Не выбрано
          option(value="") User
      +e.row._content-column
        +e.LABEL Загаловок задачи 
        +e.TEXTAREA.title-add(type="date", name="title" placeholder="сделать ..." required)
      +e.row._content-column
        +e.LABEL Дополнительная информация по задаче
        +e.TEXTAREA#textarea-text(name="text" placeholder="Обьяснение задачи ..." required)
      +e.row
        +e.BUTTON.submit(type="submit") Добавить задачу
      