+b.tasks
  +e.H3.title Мои задачи.
  +e.lists
    - var i = 1
    while i <= 4
      +b.SECTION.task
        +e.H3.title Загаловок задачи #{i}
        +e.desc
          p Описание задачи #{i++}: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem alias quidem officia quisquam optio, nam itaque, id neque fugit et tempora saepe, consequatur voluptatem maiores? Corrupti maiores provident blanditiis voluptas.
        +e.FOOTER.footer
          +e.date-start Начало задачи: 11.06.2019
          +e.date-end Закончить задачу до: 15.06.2019 
          +e.status Статус: в работе.
          +e.execute
            a(href="") Выполнить задачу
          +e.author Назначил: Попов Павел Петрович 
          +e.executor Испонитель: Попов Павел Петрович 
          