+b.NAV.user-menu
    +e.SPAN.user-name Петров Пётр Петрович
    +e.A.link.link(href="/designated-task.php") Я назначил задачу
    +e.A.link.link(href="/add-task.php") Поставить задачу
    +e.A.link.__logout.link(href="/logout.php") Выйти
