+b.user-menu
  +e.SPAN.user Петров Петр Петрович
  +e.A.link(href="/designated-task.php") Я назначил задачу
  +e.A.link(href="/add-task.php") Поставить задачу
  +e.A.link.__logout(href="/logout.php") Выйти