+b.UL.user-menu
  +e.LI.item Петров Петр Петрович
  +e.LI.item
    +e.A.link(href="/designated-task.php") Я назначил задачу
  +e.LI.item
    +e.A.link(href="/add-task.php") Поставить задачу
  +e.LI.item
    +e.A.link.__logout(href="/logout.php") Выйти