html,
body {
  height: 100%;
}
body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: $baseValue * 2;
  padding-bottom: $baseValue * 2;
}

textarea {
  resize: none;
  padding: $baseValue;
  line-height: $baseLineHeight;
  min-height: $baseLineHeight * 3 * $baseFontSize;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $baseValue * 2; //16
  padding-right: $baseValue * 2;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  border-top: 2px solid #f6f6f6;
  margin-top: auto;
  text-align: center;
}