html {
  min-height: 100%;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  overflow-x: hidden;
  position: relative;
  flex-grow: 1;
}
