.form {
  max-width: $baseValue * 40; // 320
  margin-left: auto;
  margin-right: auto;
  
  &_task-add {
    max-width: none;
    & label {
      @media screen and (max-width: 690px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  // &__reg {}
  // &_auth {
  // }

  &__title {
    margin-bottom: $baseValue * 5; // 40
    text-align: center;
  }
  &__row {
    margin-bottom: $baseValue * 3; // 24
    &_content-column,
    &_label-group-two {
      display: flex;
      flex-direction: column;
    }
    &:last-child {
      text-align: center;
    }
  }
  &__input,
  &__button {
    padding-top: $baseValue;
    padding-bottom: $baseValue;
  }

  &__date {
    @media screen and (max-width: 320px) {
      width: $baseValue * 35; // 280
    }
  }
}