.form {
  &_center {
    max-width: $baseValue * 40; // 320
    margin-left: auto;
    margin-right: auto;
  }

  &_task-add {
    max-width: none;
    & label {
      @media screen and (max-width: 690px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &_search {
    max-width: none;
    & .form__title {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: $baseValue * 5; // 40
    text-align: center;
    margin-top: 0;
  }

  &__row {
    margin-bottom: $baseValue * 3; // 24
    &_content-column,
    &_label-group-two {
      display: flex;
      flex-direction: column;
    }
    &_search{
      display: flex;
    }
    &_text-center {
      text-align: center;
    }
  }

  &__input {
    padding-top: $baseValue;
    padding-bottom: $baseValue;
    &_search{
      flex-grow: 1;
      margin-right: $baseValue;
    }
  }

  &__checkbox {
    margin-right: $baseValue;
  }

  &__select {
    border: $baseValue / 8 solid $borderColor;
    border-radius: $baseValue / 4;
    &:focus {
      border-color: #47a4f5
    }
  }

  &__link {
    padding-left: $baseValue;
    padding-right: $baseValue;
  }

  &__date {
    @media screen and (max-width: 320px) {
      width: 100%;
    }
  }
}
