.task {
  border-radius: $baseValue / 4;
  background-color: white;
  padding: $baseValue;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  &:hover {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  }
  &:not(:last-child) {
    margin-bottom: $baseValue * 3; // 24
  }
  &__title {
    margin: 0;
    font-style: italic;
    text-align: center;
  }
  &__desc {
    width: 100%;
  }

  &__footer {
    @media screen and (min-width: 640px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__date-start,
  &__date-end,
  &__status,
  &__execute,
  &__author,
  &__executor
  {
    @media screen and (min-width: 640px) {
      width: 50%;
    }
  }
  
  &s {
    &__tab {
      cursor: pointer;
    }
    &__title {
      margin-top: 0;
      display: inline-block;
      padding-left: $baseValue;
      padding-right: $baseValue;
    }
    &__hidden-divider {
      @media screen and (min-width: 640px) {
        display: inline-block;
      }
    }
    &__my-tasks, 
    &__set-tasks {
      display: none
    }
  }
}

#my-tasks:checked ~ .tasks__my-tasks, 
#set-tasks:checked ~ .tasks__set-tasks {
  display: block;
}