# Установка кодировки страниц сайта или off
AddDefaultCharset Utf-8

# Запретим пользователям просматривать файлы директории
Options All -Indexes

<IfModule dir_module>
  # Зададим index файл который будет
  # отдаваться если запрошенный не найден
  DirectoryIndex index.php index.html
</IfModule>

ErrorDocument 404 /error.php

# RewriteEngine on
# RewriteRule .* router.php [L]

# RewriteRule ^reg?$ reg.php [NC, L]